body {
    margin: 0;
    padding: 0;
    font-family: Alata;
    font-weight: 400;
}

.countries-section {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 54px;
    /* identical to box height, or 146% */

    text-align: center;
    letter-spacing: -0.4625px;

    color: #373737;
}

.countries-text {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countries-text p {
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    max-width: 950px;
}

.countries-images {
    width: 90%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.countries-images-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 350px;
}

.countries-images-item h2 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 27px;
    margin-bottom: 5px;
}

.countries-images-item p {
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */


    color: rgba(55, 71, 79, 0.721569);
    margin: 0;
}